body, html {
	margin:0;
	font-family:'Helvetica Neue', Helvetica, Arial;
	font-size:30px;
	line-height:1.4em;
	color:#666;
	background:#f9f9f9;
	overflow:hidden;
	
	-webkit-transform: translate3d(0,0,0);
}
.quad {
	position:relative;
	display:inline-block;
	width:300px;
	height:187px;
	margin:20px;
	background:rgb(185, 65, 65);
}
.quad:hover {}
.quad:active {}

#controls {
	background: #eee;
}
	.fade-bt {
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		margin:20px;
	}
	.fade-bt:hover {
		color:rgb(185, 65, 65);
	}
